* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    border: 1px solid black;
}
body {
    font-size: 16px;
    font-family: 'Tienne', serif;
    color: rgb(119,119,119);
}

header {
    padding: 16px 0;
}

img {
    max-width: 100%;
}

h1,h2,p {
    text-align: center;
}

p{
    margin: 1% 0 ;
}

.bg-header {
    background-image: url("../images/bg-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
}

.bg-footer {
    background-image: url("../images/bg-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-gray {
    background-color:rgb(245,245,245);
}

.text-black {
    color: black;
    /* font-size: .75rem; */
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

.title {
    color: rgb(255,255,255);
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Tienne', serif;
}

.title-main {
    color: rgb(255,255,255);
    font-size: 40px;
    text-align: center;
    width: 80%;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    /* padding: 0; */
}

.container {
    width: 86%;
    margin: 0 auto;
    align-items: center;
}

.container-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu li {
    display: inline;
}

.menu li a {
    padding: 0 30px;
    text-decoration: none;
    color: rgb(245,245,245);
    font-family: 'Open Sans', sans-serif;
}

.logo {
    width: 15%;
}
.logo-footer {
    width: 15%;
}

.wrappen {
    margin: 0 auto;
    padding: 5vh 0;
    width: 65%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 2rem;
}

.margin-wrappen {
    margin :20vh auto ;
    padding: 0;
    width: 86%;
}

button {
    /* margin-top: 2%; */
    background-color: rgb(254,209,54);
    padding: 10px 35px;
    border: none;
    color:rgb(255,255,255) ;
    font-weight: 700;
    border-radius: 5px;

}

.yellow {
    color: rgb(254,209,54);
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
}

.icon { 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.icon span {
    text-align: center;
    color: black;
    font-weight: 900;
    padding: 3%;
    font-family: 'Open Sans', sans-serif;
}

.icon p {
    font-size: .75rem;
    font-family: 'Open Sans', sans-serif;
}

.caixa-icon p {
    color: black;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

.gap-intern {
    /* margin: 0 auto; */
    width: 50%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.caixa { 
    width: 20%;
    /* margin: 0 4%; */
    padding: 1%;
}

.caixa-icon { 
    width: 12%;
    /* margin: 0 4%; */
    /* padding: 1%; */
}

.caixa img {
    border-radius: 50%;
    border: 6px white solid;
}

.maps {
    width: 35%;
    /* float: right; */
    /* text-align: center; */
    /* margin: 0 auto; */
}

.text-size {
    font-size: 1.5rem;
}

.teste {
    width: 70%;
}

input {
    font-size: 14px;
    /* padding: 8px 12px;  */
    border: 1px solid #a9a9a9;
    margin: 8px 0;
    width: 350px;
    height: 30px;
    border-radius: 3px;
 }

 .forms {
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 13px;
    /* position: relative; */
}

.botao {
    /* position: absolute; */
    /* right: 0; */
    /* float: right; */
    display: block;
    margin-left: auto;
}

#mensagem {
    height: 100px;
}
label {
    color: rgb(255,255,255);
    display: block;
 }



.forms > p {
    text-align: left;
    margin: 8px 0;
}

.yellow-forms {
    color: rgb(254,209,54);
    font-size: 15px;
}

footer {
    margin: 0 auto;
    padding: 8px 0;
    width: 65%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-size: .70rem;
    /* gap: 2rem; */
 }

 .icons-footer {
     width: 10%;
 }

.hi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}
