* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    /* border: 1px solid black; */
}
body {
    font-size: 16px;
    font-family: 'Tienne', serif;
    color: rgb(119,119,119);
}

header {
    padding: 16px 0;
}

img {
    max-width: 100%;
}

h1,h2,p {
    text-align: center;
}

p{
    margin: 1% 0 ;
}

.bg-header {
    background-image: url("../images/bg-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-gray {
    background-color:rgb(245,245,245);
}

.text-black {
    color: black;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

.title {
    color: rgb(255,255,255);
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Tienne', serif;
}

.title-main {
    color: rgb(255,255,255);
    font-size: 40px;
    text-align: center;
    width: 80%;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 86%;
    margin: 0 auto;
    align-items: center;
}

.container-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu li {
    display: inline;
}

.menu li a {
    padding: 0 30px;
    text-decoration: none;
    color: rgb(245,245,245);
    font-family: 'Open Sans', sans-serif;
}

.logo {
    width: 15%;
}

.wrappen {
    margin: 0 auto;
    padding: 5vh 0;
    width: 65%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.margin-wrappen {
    padding: 15vh 0;
    width: 86%;
}

button {
    background-color: rgb(254,209,54);
    padding: 10px 35px;
    border: none;
    color:rgb(255,255,255) ;
    font-weight: 700;
    border-radius: 5px;

}

.yellow {
    color: rgb(254,209,54);
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
}

.icon { 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icon span {
    text-align: center;
    color: black;
    font-weight: 900;
    padding: 3%;
    font-family: 'Open Sans', sans-serif;
}

.icon p {
    font-size: .75rem;
    font-family: 'Open Sans', sans-serif;
}

.box-icon p {
    color: black;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

.gap-intern {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.gap-intern p,h2 {
    text-align: left;
}

.box-responsivo { 
    width: 20%;
    padding: 1%;
}

.box-icon { 
    width: 12%;
}

.box-responsivo img {
    border-radius: 50%;
    border: 6px white solid;
}

.maps {
    width: 35%;
}

 .forms {
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 13px;
}
.bg-footer {
    background-image: url("../images/bg-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    font-size: 14px;
    border: 1px solid #a9a9a9;
    margin: 8px 0;
    width: 350px;
    height: 30px;
    border-radius: 3px;
 }

.botao {
    display: block;
    margin-left: auto;
}

#mensagem {
    height: 100px;
}
label {
    color: rgb(255,255,255);
    display: block;
 }

.forms p {
    text-align: left;
    margin: 8px 0;
}

.yellow-forms {
    color: rgb(254,209,54);
    font-size: 15px;
}

footer {
    margin: 0 auto;
    padding: 8px 0;
    width: 65%;
    display: flex;
    justify-content: space-between;
    font-size: .70rem;
 }
 
.logo-footer {
    width: 15%;
}

 .icons-footer {
     width: 10%;
 }

.box-icon-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}
