* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}
body {
    font-size: 16px;
}

header {
    padding: 16px 0;
}

img {
    width: 100%;
}

.container {
    width: 70%;
    margin: 0 auto;
    align-items: center;
}

.container-flex {
    display: flex;
    justify-content: space-between
}
.menu li {
    display: inline;
}

.menu li a {
    padding: 30px;
    text-decoration: none;
}

.wrappen {
    margin: 20vh auto;
    width: 86%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

button {
    background-color: rgb(254,209,54);
}

.yellow {
    color: rgb(254,209,54);
}

.icon { 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icon p {
    font-size: 20px;
    text-align: center;
}

.text-align {
    margin: 0 auto;
    width: 50%;
    text-align: justify;
}

.caixa { 
    width: 18%;
    margin: 0 4%;
    padding: 1%;
}

.caixa-icon { 
    width: 15%;
    /* margin: 0 4%; */
    /* padding: 1%; */
}

.caixa img {
    border-radius: 50%;
}

.maps {
    width: 35%;
    /* float: right; */
}

.text-size {
    font-size: 1.5rem;
}

.input {
    font-size: 14px;
    padding: 8px 12px; 
    border: 1px solid #a9a9a9;
 }